<%= form_for(@staff) do |f| %>
  <% if @staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% @staff.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-condenced table-no-mergin" id="staff_table">
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name, class: "col-xs-12 col-sm-12" %></td>
    </tr>
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.text_field :email, class: "col-xs-12 col-sm-12" %></td>
    </tr>
    <tr>
      <th><%= f.label :role %></th>
      <td><%= f.select :role, Staff::ROLE.map{|s| [t(s), s]}, {}, {class: "col-xs-12 col-sm-3"} %></td>
    </tr>
    <tr>
      <th><%= f.label :password %></th>
      <td><%= f.text_field :password, class: "col-xs-12 col-sm-12" %></td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation %></th>
      <td><%= f.text_field :password_confirmation, class: "col-xs-12 col-sm-12" %></td>
    </tr>
    <tr>
      <th><%= f.submit "登録する", class: 'btn btn-info btn-sm' %></th>
      <td>&nbsp;</td>
    </tr>
  </table>
<% end %>
