<p id="notice"><%= notice %></p>

<p>
  <strong>Memo:</strong>
  <%= @comment.memo %>
</p>

<p>
  <strong>Need:</strong>
  <%= @comment.need_id %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @comment.staff_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
