<%= form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="table">
    <table>
      <tr>
        <th><%= f.label :staff_id %></th>
        <td></td>
      </tr>
      <tr>
        <th><%= f.label :title %></th>
        <td><%= f.text_field :title, class: "span7" %></td>
      </tr>
      <tr>
        <th><%= f.label :content %></th>
        <td><%= f.text_area :content, class: "span7", size: "5x6" %></td>
      </tr>
      <tr>
        <th><%= f.label :url %></th>
        <td><%= f.text_field :url, class: "span7" %></td>
      </tr>
      <tr>
        <th><%= f.label :status %></th>
        <td><%= f.text_field :status %></td>
      </tr>
      <tr>
        <th><%= f.label :importance %></th>
        <td><%= f.text_field :importance %></td>
      </tr>
      <tr>
        <th><%= f.label :finish_on %></th>
        <td><%= f.date_select :finish_on, {}, class: "span2" %></td>
      </tr>
      <tr>
        <th><%= f.label :memo %></th>
        <td><%= f.text_area :memo, class: "span7", size: "5x6" %></td>
      </tr>
      <tr>
        <th><%= f.submit %></th>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div>
<% end %>
