<%= form_for(@need) do |f| %>
  <% if @need.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@need.errors.count, "error") %> prohibited this need from being saved:</h2>

      <ul>
      <% @need.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-condenced table-no-mergin" id="need_table">
    <tr>
      <th><%= f.label :title %></th>
      <td><%= f.text_field :title, class: "col-xs-12 col-sm-12" %></td>
    </tr>
    <tr>
      <th><%= f.label :area %></th>
      <td><%= f.text_field :area, class: "col-xs-12 col-sm-12" %></td>
    </tr>
    <tr>
      <th><%= f.label :content %></th>
      <td><%= f.text_area :content, class: "col-xs-12 col-sm-12", size: "100x3" %></td>
    </tr>
    <tr>
      <th><%= f.label :url %></th>
      <td><%= f.text_field :url, class: "col-xs-12 col-sm-12" %></td>
    </tr>
    <% if current_staff.role == "admin" %>
      <tr>
        <th><%= f.label :status %></th>
        <td><%= f.select :status, Need::STATE.map{|s| [t(s), s]}, {}, {class: "col-xs-12 col-sm-3"} %></td>
      </tr>
    <% end %>
    <tr>
      <th><%= f.label :importance %></th>
      <td><%= f.select :importance, Need::IMPORTANCE.map{|i| [t(i), i]}, {}, {class: "col-xs-12 col-sm-3"} %></td>
    </tr>
    <tr>
      <th><%= f.label :schedule_on %></th>
      <td><%= f.text_field :schedule_on, class: "pick_date col-xs-12 col-sm-3" %></td>
    </tr>
    <% if current_staff.role == "admin" %>
      <tr>
        <th><%= f.label :finish_on %></th>
        <td><%= f.text_field :finish_on, class: "pick_date col-xs-12 col-sm-3" %></td>
      </tr>
    <% end %>
    <tr>
      <th><%= f.submit "登録する", class: 'btn btn-info btn-sm' %></th>
      <td>&nbsp;</td>
    </tr>
  </table>
<% end %>
