<h2>要望一覧</h2>

<table class="table">
  <thead>
    <tr>
      <th>番号</th>
      <th>記入日</th>
      <th>スタッフ</th>
      <th>タイトル</th>
      <th>重要度</th>
      <th>状態</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
    <tr>
      <td><%= need.id %></td>
      <td><%= need.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= need.staff.try("name") %></td>
      <td><%= need.title %></td>
      <td><% if need.importance.present? %><%= t(need.importance) %><% end %></td>
      <td><% if need.status.present? %><%= t(need.status) %><% end %></td>
      <td><%= link_to '詳細', need, class: "btn btn-small" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '新規登録', new_need_path, class: "btn btn-small btn-info" %>
