<h2>要望一覧</h2>

<table>
  <thead>
    <tr>
      <th>記入日</th>
      <th>スタッフ</th>
      <th>タイトル</th>
      <th>重要度</th>
      <th>状態</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
    <tr>
      <td><%= need.created_at.strftime("%y%m%d") %></td>
      <td><%= need.staff.try("name") %></td>
      <td><%= need.title %></td>
      <td><%= need.importance %></td>
      <td><%= need.status %></td>
      <td><%= link_to '詳細', need %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to '新規登録', new_need_path %>
