<h3>
  <%= @title %>&nbsp;&nbsp;
  <% if current_staff.role == "admin" %>
    <%= link_to '新規登録', new_need_path, class: "btn btn-sm btn-info" %>
  <% end %>
</h3>

<table class="table table-condensed">
  <thead>
    <tr>
      <th width="35">No.</th>
      <th width="60">記入日</th>
      <th width="70">from</th>
      <th>タイトル</th>
      <th width="70">状態</th>
      <th width="80">
        予定&nbsp;
        <%= link_to '▲', url_for(params.merge(sort: "schedule_asc")) %>
        <%= link_to '▼', url_for(params.merge(sort: "schedule_desc")) %>
      </th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    <% @needs.each do |need| %>
    <tr>
      <td><%= need.id %></td>
      <td><%= need.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= need.staff.try("name") %></td>
      <td><%= need.title %></td>
      <td><% if need.status.present? %><%= t(need.status) %><% end %></td>
      <td><%= need.schedule_on.try(:strftime, "%Y-%m-%d") %></td>
      <td><%= link_to '詳細', need, class: "btn btn-sm btn-default" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
