<h3>詳細&nbsp;&nbsp;<%= link_to '戻る', needs_path, class: "btn btn-sm btn-default" %></h3>

<% if active_staff(@need.staff_id) %>
  <div>
    <%= link_to '編集', edit_need_path(@need), class: "btn btn-sm btn-warning" %>
    <%= link_to '削除', @need, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %>
  </div>
<% end %>

<div class="well well-small">
  <table class="table table-condenced table-no-mergin" id="need_table">
    <tr>
      <th>番号</th>
      <td><%= @need.id %></td>
    </tr>
    <tr>
      <th>記入日</th>
      <td><%= @need.created_at.strftime("%Y-%m-%d") %></td>
    </tr>
    <tr>
      <th>スタッフ</th>
      <td><%= @need.staff.try("name") %></td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td><%= @need.title %></td>
    </tr>
    <tr>
      <th>場所</th>
      <td><%= @need.area %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= simple_format @need.content %></td>
    </tr>
    <tr>
      <th>URL</th>
      <td><%= @need.url %></td>
    </tr>
    <tr>
      <th>重要度</th>
      <td><% if @need.importance.present? %><%= t(@need.importance) %><% end %></td>
    </tr>
    <tr>
      <th>状態</th>
      <td><% if @need.status.present? %><%= t(@need.status) %><% end %></td>
    </tr>
    <tr>
      <th>予定</th>
      <td><%= @need.schedule_on.try(:strftime, "%Y-%m-%d") %></td>
    </tr>
  </table>
</div>

<% if @need.finish_on %>
  <div>
    <b>解決日</b>&nbsp;
    <%= @need.finish_on %>
    <br />
    <p><%= simple_format @need.memo %></p>
  </div>
<% end %>

<br />

<div>
  <blockquote>コメント</blockquote>

  <%= form_for([@need, @comment]) do |f| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tr>
        <td><%= f.text_area :memo, size: "130x3" %></td>
      </tr>
      <tr>
        <td><%= f.submit "コメントする", class: 'btn btn-info btn-sm' %>&nbsp;&nbsp;or&nbsp;<%= link_to 'キャンセル', need_path(@need) %></td>
      </tr>
    </table>
  <% end %>

  <% @comments.each do |comment| %>
    <hr>
    <div id="comment_area_<%= comment.id %>">
      <%= comment.updated_at.try(:strftime, "%Y-%m-%d") %>：<%= comment.staff.try(:name) %>&nbsp;さんより
      <% if active_staff(comment.staff_id) %>
        <%= link_to '編集', 'javascript:void(0)', class: 'comment_edit btn btn-warning btn-xs', id: "comment_#{comment.id}" %>
        <%= link_to '削除', need_comment_path(@need, comment), method: :delete, data: { confirm: 'コメントを削除しますか？' }, class: "btn btn-xs btn-danger" %>
      <% end %>
      <br />
      <p><%= simple_format comment.memo %></p>
    </div>
  <% end %>
</div>
