<h2>詳細&nbsp;&nbsp;<%= link_to '戻る', needs_path, class: "btn btn-small" %></h2>

<div>
  <%= link_to '編集', edit_need_path(@need), class: "btn btn-small btn-info" %>
  <%= link_to '削除', @need, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-info" %>
</div>

<div class="well well-small">
  <table class="table table-condenced table-no-mergin">
    <tr>
      <th>番号</th>
      <td><%= @need.id %></td>
    </tr>
    <tr>
      <th>記入日</th>
      <td><%= @need.created_at.strftime("%Y-%m-%d") %></td>
    </tr>
    <tr>
      <th>スタッフ</th>
      <td><%= @need.staff.try("name") %></td>
    </tr>
    <tr>
      <th>タイトル</th>
      <td><%= @need.title %></td>
    </tr>
    <tr>
      <th>内容</th>
      <td><%= simple_format @need.content %></td>
    </tr>
    <tr>
      <th>URL</th>
      <td><%= @need.url %></td>
    </tr>
    <tr>
      <th>重要度</th>
      <td><% if @need.importance.present? %><%= t(@need.importance) %><% end %></td>
    </tr>
    <tr>
      <th>状態</th>
      <td><% if @need.status.present? %><%= t(@need.status) %><% end %></td>
    </tr>
  </table>
</div>

<div>
  <b>解決日</b>&nbsp;
  <%= @need.finish_on %>
  <br />
  <b>補足</b>&nbsp;&nbsp;&nbsp;
  <%= simple_format @need.memo %>
</div>

<br />

<div>
  <blockquote>対応</blockquote>

  <% @answers.each do |answer| %>
    <div>
      <b>予定</b>&nbsp;<%= answer.plan_on.try(:strftime, "%Y-%m-%d") %>&nbsp;
      <% if current_staff.id == 1 %>
        <%= link_to '編集', 'javascript:void(0)', class: 'answer_edit btn btn-info btn-mini', id: "answer_#{answer.id}" %>
        <%= link_to '削除', need_answer_path(@need, answer), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-info" %>
      <% end %>
      <br />
      <b>メモ</b>&nbsp;<%= simple_format answer.memo %>
    </div>
  <% end %>
</div>

<br />

<% if current_staff.id == 1 %>
<div>
  <%= form_for([@need, @answer]) do |f| %>
    <% if @answer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>
        <ul>
          <% @answer.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <tr>
        <th><%= f.label :plan_on %></th>
        <td><%= f.text_field :plan_on, class: "pick_date span2" %></td>
      </tr>
      <tr>
        <th><%= f.label :memo %></th>
        <td><%= f.text_area :memo, class: "span7", size: "5x6" %></td>
      </tr>
      <tr>
        <th><%= f.submit %></th>
        <td>&nbsp;</td>
      </tr>
    </table>
  <% end %>
</div>
<% end %>
